// components/_hero.scss

.hero {
  padding: 4rem 0;
  position: relative;
  
  h1 span {
    background: linear-gradient(45deg, $primary, $secondary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .hero-img {
    height: 400px;
    object-fit: cover;
    width: 100%;
    border-radius: 1rem;
    box-shadow: 0 20px 40px rgba(0,0,0,0.5);
  }
}